---
import ChangeTheme from './change-theme.astro';
import '~/styles/base.css';
import defaultOgImage from '~/assets/images/quebec-city.jpg';

interface Props {
  title?: string;
	description?: string;
	thumbnailPath?: string;
	thumbnailAlt?: string;
}

const { title, description, thumbnailPath, thumbnailAlt } = Astro.props;
const pageTitle = [title, 'hw0k.me'].filter(Boolean).join(' | ');
const pageDescription = description ?? '남현욱의 개인 블로그';
const ogImagePath = thumbnailPath ?? defaultOgImage.src;
const ogImageAlt = thumbnailAlt ?? pageTitle;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<link rel="preload" href="/woff2/PretendardVariable.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/pretendardvariable.css" as="style" crossorigin />
		<link rel="stylesheet" href="/pretendardvariable.css" crossorigin />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={canonicalURL} />
		<link rel="alternative" type="application/rss+xml" title="hw0k.me" href="/rss.xml" />
		<title>{pageTitle}</title>
		<meta name="description" content={pageDescription} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={pageDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:image" content={ogImagePath} />
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:alt" content={ogImageAlt} />
		<script is:inline src="/init-theme.js" />
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-QJBB9WYRKL"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-QJBB9WYRKL');
		</script>
	</head>
	<body class="flex flex-col overflow-x-hidden w-screen min-h-screen bg-white dark:bg-gray-900 text-gray-700 dark:text-white antialiased text-rendering-legibility">
		<header class="text-black dark:text-white">
			<div class="container mx-auto flex flex-row justify-between items-center h-16">
				<div class="flex justify-start items-center">
					<a class="text-xl font-bold hover:underline" href="/">hw0k.me</a>
				</div>
				<div class="flex justify-start items-center gap-3">
					<a class="hover:underline" href="/about" data-astro-prefetch="load">about</a>
          <ChangeTheme />
				</div>
			</div>
		</header>
		<main class="mt-4 flex-1">
			<slot />
		</main>
		<footer class="mt-20 mb-4">
			<div class="container mx-auto text-xs leading-relaxed text-gray-500 hover:*:text-gray-800 hover:*:underline dark:hover:*:text-gray-300">
        <a href="mailto:contact@hw0k.me">contact@hw0k.me</a> | 
        <a href="https://github.com/hw0k">github</a> |
        <a href="https://linkedin.com/in/hw0k">linkedin</a>
        <br />
        <a href="/rss.xml">rss</a> | 
        <a href="https://github.com/hw0k/hw0k.me">source code</a>
      </div>
		</footer>
	</body>
</html>
